# Composer
*.lock
vendor
vendor*
composer.phar

# Coverage
**/reports/*
**/coverage/*
*.cache

# JetBrains
.idea
.project
.settings
.idea/*
**/.idea/*
*.iml

# VS Code
.vscode/*
**/.vscode/*

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# Temp
tmp/*
**/tmp/*
php-version.txt